@import './reset.css';

body {
	font-family: 'Open Sans', sans-serif;
}
.header {
	background-color: #ffffff;
}
.header {
	background-color: #ffffff;
	padding-top: 21.5px;
}
.container {
	max-width: 1400px;
	padding: 0 42px;
	margin: 0 auto;
}
/* Header nav */
.header-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header-logo {
	display: flex;
	align-items: center;
}
.nav-item1 {
	text-decoration: none;
	color: #160f29;
	font-size: 40px;
	font-weight: 700;
	line-height: 54.47px;
	width: 214px;
	height: 54px;
	padding-left: 30px;
}

.header-search {
	display: flex;
	align-items: center;
}

* {
	box-sizing: border-box;
}
form {
	position: relative;
	margin: 0 auto;
}
button[class='book'] {
	height: 26px;
	width: 26px;
	position: absolute;
	padding-top: 14.67px;
	right: 16.78px;
	cursor: pointer;
}
input[class='namebook'] {
	border: 1px solid #160f29;
	border-radius: 2px;
	opacity: 0.5;
	width: 561px;
	height: 46px;
	padding-left: 12px;
}

input[placeholder='Название книги'] {
	font-size: 16px;
	font-weight: 400;
	line-height: 21.79px;
}
input::placeholder {
	color: #160f29;
}

.userlogo {
	padding-left: 23px;
}

.line {
	border: none;
	border-bottom: 2px solid #160f29;
	opacity: 0.5;
	padding-top: 30px;
}

/* book description */

.book-description {
	margin-top: 30px;
	display: grid;
	grid-template-areas:
		'c c c c c'
		'p t t t t'
		'p a a a a'
		'p cb ch ch ch1'
		'p rm rm rm ah'
		'p rb rb rb rb';
	grid-template-columns: 291px;
	grid-template-rows: 30px 53px 75px 180px 79px;
	column-gap: 59px;
}
.category {
	grid-area: c;
	width: 470px;
}
.photo-book {
	grid-area: p;
}
.title-book {
	grid-area: t;
}
.autor-book {
	grid-area: a;
}
.content-book {
	grid-area: cb;
	width: 540px;
}
.read-more {
	grid-area: rm;
	height: 25px;
	grid-column-start: 2;
	grid-column-end: 3;
}
.char {
	grid-area: ch;
	color: #160f29;
	opacity: 0.5;
	font-size: 18px;
	font-weight: 400;
	line-height: 24.51px;
	height: 162px;
	width: 190px;
	margin-left: -28px;
}
.char p {
	height: 45px;
}
.char1 {
	grid-area: ch1;
	color: #160f29;
	font-size: 18px;
	font-weight: 400;
	line-height: 25.51px;
	height: 162px;
	margin-left: -37px;
}
.char1 p {
	height: 45px;
}
.all-haracteristics {
	grid-area: ah;
	width: 190px;
	height: 25px;
	grid-column-start: 3;
	grid-column-end: 6;
	margin-left: -28px;
}
.item2 {
	color: #246a73;
	font-size: 18px;
	font-weight: 600;
	line-height: 24.51px;
}
.read-book {
	grid-area: rb;
	align-self: center;
	border: 1px solid #160f29;
	border-radius: 2px;
	background-color: #ffffff;
	padding: 15px 197px 15px 197px;
	justify-self: start;
	transition: 0.7s linear; /* Время изменения */
}
.read-book:hover {
	color: #ffffff; /* Цвет текста */
	background: #b65c34; /*Цвет фона */
}

.category {
	color: #160f29;
	opacity: 0.5;
	font-size: 16px;
	font-weight: 400;
	line-height: 21.79px;
	height: 22px;
}

.title-book {
	color: #160f29;
	font-size: 25px;
	font-weight: 600;
	line-height: 34.05px;
	height: 34px;
}
.autor-book {
	color: #160f29;
	opacity: 0.5;
	font-size: 20px;
	font-weight: 400;
	line-height: 27.24px;
	height: 27px;
}

.item {
	color: #160f29;
	font-size: 20px;
	font-weight: 400;
	line-height: 27.24px;
	height: 162px;
}
.readmore {
	color: #b65c34;
	font-size: 18px;
	font-weight: 600;
	line-height: 24.51px;
	text-decoration: none;
}

.read {
	color: #160f29;
	font-size: 16px;
	font-weight: 600;
	line-height: 21.79px;
}

.line2 {
	border: none;
	border-bottom: 2px solid #160f29;
	opacity: 0.5;
	padding-top: 30px;
	grid-column-start: 1;
	grid-column-end: 6;
}

/* ABOUT THE BOOK */
.about_the_book {
	display: grid;
	grid-template-columns: 349px 421px 1fr;
	grid-template-rows:
		minmax(34px, auto) minmax(189px, auto) minmax(34px, auto)
		minmax(168px, auto) minmax(168px, auto) minmax(1px);
	gap: 30px 70px;
	margin-top: 30px;
}

.grid_item:nth-child(1) {
	grid-column: 1/4;
}
.grid_item:nth-child(2) {
	grid-column: 1/4;
}
.grid_item:nth-child(3) {
	grid-column: 1/4;
}
.grid_item:nth-child(4) {
	grid-column: 1/2;
}
.grid_item:nth-child(5) {
	grid-column: 2/3;
}
.grid_item:nth-child(6) {
	grid-column: 1/6;
}
.color_text {
	color: #160f29;
}
.title {
	font-size: 25px;
	font-weight: 600;
	line-height: 34.05px;
}
.main_text {
	font-size: 20px;
	font-weight: 400;
	line-height: 27.24px;
}
.characteristic_title {
	font-size: 25px;
	font-weight: 600;
	line-height: 34.05px;
}
.full_char {
	display: flex;
	justify-content: space-between;
}
.item3 {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	color: #160f29;
	opacity: 0.5;
	font-size: 20px;
	font-weight: 400;
	line-height: 27.24px;
}
.item4 {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-size: 20px;
	font-weight: 400;
	line-height: 27.24px;
}
.line3 {
	border: none;
	border-bottom: 1px solid #160f29;
	opacity: 0.5;
}

/* book comments */
.book_comments {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows:
		minmax(46px, auto) minmax(337px, auto)
		minmax(337px, auto) minmax(337px, auto) minmax(27px, auto);
	margin-top: 36px;
	row-gap: 30px;
}

.commentaries {
	display: flex;
	justify-content: space-between;
}
.commentaries_title {
	font-size: 25px;
	font-weight: 600;
	line-height: 34.05px;
	align-self: center;
}
.border_comment {
	border: 1px solid #160f29;
	border-radius: 2px;
	background-color: #ffffff;
	padding: 12px 15px 12px 15px;
	transition: 0.7s linear; /* Время изменения */
}
.border_comment:hover {
	color: #ffffff; /* Цвет текста */
	background: #b65c34; /*Цвет фона */
}
.write_comment {
	font-size: 16px;
	font-weight: 600;
	line-height: 21.79px;
}

.feedback1 {
	background-color: #e2f4f2;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding-left: 30px;
}
.feedback2 {
	background-color: #f3f0f9;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding-left: 30px;
}
.feedback3 {
	background-color: #f6e6df;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding-left: 30px;
}
.name_data {
	display: flex;
	justify-content: space-between;
	color: #160f29;
	opacity: 0.5;
	font-size: 18px;
	font-weight: 400;
	line-height: 24.51px;
}
.data {
	padding-right: 30px;
}

.commit {
	color: #160f29;
	font-size: 22px;
	font-weight: 600;
	line-height: 29.96px;
}
.all_commit {
	color: #160f29;
	font-size: 20px;
	font-weight: 400;
	line-height: 27.24px;
}
.show_more {
	color: #246a73;
	font-size: 20px;
	font-weight: 600;
	line-height: 27.24px;
}
.rating {
	display: flex;
	justify-content: space-between;
}
.rating2 {
	display: flex;
	justify-content: space-between;
}
.rating3 {
	display: flex;
	justify-content: space-between;
}
.likedis-container {
	padding-right: 30px;
}

/* Делаем звезды */
.rating-area {
	overflow: hidden;
}
.rating-area:not(:checked) > input {
	display: none;
}
.rating-area:not(:checked) > label {
	float: right;
	width: 42px;
	padding: 0;
	cursor: pointer;
	font-size: 32px;
	line-height: 32px;
	color: lightgrey;
	text-shadow: 1px 1px #bbb;
}
.rating-area:not(:checked) > label:before {
	content: '★';
}
.rating-area > input:checked ~ label {
	color: gold;
	text-shadow: 1px 1px #c60;
}
.rating-area:not(:checked) > label:hover,
.rating-area:not(:checked) > label:hover ~ label {
	color: gold;
}
.rating-area > input:checked + label:hover,
.rating-area > input:checked + label:hover ~ label,
.rating-area > input:checked ~ label:hover,
.rating-area > input:checked ~ label:hover ~ label,
.rating-area > label:hover ~ input:checked ~ label {
	color: gold;
	text-shadow: 1px 1px goldenrod;
}
.rate-area > label:active {
	position: relative;
} /*Сделали звезды */
/* Делаем лайки */
.like-container {
	display: flex;
	align-items: center;
}

.like-button {
	font-size: 24px;
	border: none;
	background: none;
	cursor: pointer;
	padding: 0;
	margin-right: 8px;
}

.like-count {
	font-size: 18px;
} /*Сделали лайки */

/* Делаем звезды2 */
.rating-area2 {
	overflow: hidden;
}
.rating-area2:not(:checked) > input {
	display: none;
}
.rating-area2:not(:checked) > label {
	float: right;
	width: 42px;
	padding: 0;
	cursor: pointer;
	font-size: 32px;
	line-height: 32px;
	color: lightgrey;
	text-shadow: 1px 1px #bbb;
}
.rating-area2:not(:checked) > label:before {
	content: '★';
}
.rating-area2 > input:checked ~ label {
	color: gold;
	text-shadow: 1px 1px #c60;
}
.rating-area2:not(:checked) > label:hover,
.rating-area2:not(:checked) > label:hover ~ label {
	color: gold;
}
.rating-area2 > input:checked + label:hover,
.rating-area2 > input:checked + label:hover ~ label,
.rating-area2 > input:checked ~ label:hover,
.rating-area2 > input:checked ~ label:hover ~ label,
.rating-area2 > label:hover ~ input:checked ~ label {
	color: gold;
	text-shadow: 1px 1px goldenrod;
}
.rate-area2 > label:active {
	position: relative;
} /*Сделали звезды */

/* Делаем звезды3 */
.rating-area3 {
	overflow: hidden;
}
.rating-area3:not(:checked) > input {
	display: none;
}
.rating-area3:not(:checked) > label {
	float: right;
	width: 42px;
	padding: 0;
	cursor: pointer;
	font-size: 32px;
	line-height: 32px;
	color: lightgrey;
	text-shadow: 1px 1px #bbb;
}
.rating-area3:not(:checked) > label:before {
	content: '★';
}
.rating-area3 > input:checked ~ label {
	color: gold;
	text-shadow: 1px 1px #c60;
}
.rating-area3:not(:checked) > label:hover,
.rating-area3:not(:checked) > label:hover ~ label {
	color: gold;
}
.rating-area3 > input:checked + label:hover,
.rating-area3 > input:checked + label:hover ~ label,
.rating-area3 > input:checked ~ label:hover,
.rating-area3 > input:checked ~ label:hover ~ label,
.rating-area3 > label:hover ~ input:checked ~ label {
	color: gold;
	text-shadow: 1px 1px goldenrod;
}
.rate-area3 > label:active {
	position: relative;
} /*Сделали звезды */

.more-commit {
	display: flex;
	justify-content: center;
	color: #246a73;
	font-size: 20px;
	font-weight: 600;
	line-height: 27.24px;
}
.footer {
	background-color: #246a73;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 100px;
}
.footer-title {
	color: #ffffff;
	font-size: 40px;
	font-weight: 700;
	line-height: 54.47px;
}
.xz {
	display: flex;
	justify-content: center;
	margin-top: 10px;
	color: #160f29;
	font-size: 14px;
	font-weight: 400;
	line-height: 19.07px;
}
