@import './reset.css';

body {
	font-family: 'Open Sans', sans-serif;
}

.wrapper {
	background-color: #ffffff;
	max-width: 1400px;
	padding: 0 px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 465px 893px;
	grid-template-rows: minmax(800px, auto);
}
 /* .grid-item {
	border: 1px solid #000;
}  */

.left-side {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 74px 1fr 1fr;
	background-color: #246a73;
	padding-top: 70px;

	.header-logo {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.header-text {
		color: #ffffff;
		font-size: 40px;
		font-weight: 700;
		line-height: 54.47px;
		padding-left: 30px;
	}

	.login {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 204px;
		gap: 36px;
	}

	.login-title {
		color: #ffffff;
		font-size: 24px;
		font-weight: 700;
		line-height: 32.68px;
	}

	.log {
		background-color: #ffffff;
		width: 253px;
		border: 2px solid #ffffff;
		border-radius: 2px;
		text-decoration: none;
		color: #246a73;
		font-size: 16px;
		font-weight: 600;
		line-height: 21.79px;
		padding: 15px 97.5px 15px 97.5px;
		transition: 0.7s linear;
	}
	.log:hover {
		color: #ffffff;
		background: #f66d52;
	}

	.line {
		border: none;
		max-width: 325px;
		border-top: 2px solid #ffffff;
		margin-left: 70px;
		margin-top: 258px;
	}
}

.right-side {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 45px 1fr 57px;
	row-gap: 50px;
	padding: 202px 215px;

	.registration {
		color: #160f29;
		font-size: 32px;
		font-weight: 700;
		line-height: 43.58px;
		text-align: center;
	}

	.registration-box {
		display: flex;
		flex-direction: column;
		gap: 28px;
	}
	* {
		box-sizing: border-box;
	}
	form {
		position: relative;
		margin: 0 auto;
	}
	img[class='icon-nickname'] {
		position: absolute;
		cursor: pointer;
		padding: 12px;
	}
	input[class='text-nickname'] {
		border: 2px solid #160f29;
		border-radius: 2px;
		opacity: 0.5;
		width: 463px;
		height: 57px;
	}
	input[placeholder='nickname123'] {
		font-size: 18px;
		font-weight: 400;
		line-height: 24.51px;
		padding-left: 73px;
	}
	input::placeholder {
		color: #160f29;
	}
	img[class='icon-mail'] {
		position: absolute;
		cursor: pointer;
		padding: 12px;
	}
	input[class='text-mail'] {
		border: 2px solid #160f29;
		border-radius: 2px;
		opacity: 0.5;
		width: 463px;
		height: 57px;
	}
	input[placeholder='example@mail.ru'] {
		font-size: 18px;
		font-weight: 400;
		line-height: 24.51px;
		padding-left: 73px;
	}
	input::placeholder {
		color: #160f29;
	}

	img[class='icon-password'] {
		position: absolute;
		cursor: pointer;
		padding: 7.07px 12px;
	}
	button[class='eye'] {
		position: absolute;
		right: 22px;
		padding: 20.5px 0;
		cursor: pointer;
	}
	input[class='text-password'] {
		border: 2px solid #160f29;
		border-radius: 2px;
		opacity: 0.5;
		width: 463px;
		height: 57px;
	}
	input[placeholder='strongPsW2#'] {
		font-size: 18px;
		font-weight: 400;
		line-height: 24.51px;
		padding-left: 73px;
	}
	input::placeholder {
		color: #160f29;
	}

	.reg {
		display: flex;
		justify-content: center;
	}
	.registration-text {
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: #ffffff;
		border: 2px solid #160f29;
		border-radius: 2px;
		padding: 15px 30px 15px 30px;
		text-decoration: none;
		color: #160f29;
		font-size: 20px;
		font-weight: 600;
		line-height: 27.24px;
		transition: 0.7s linear;
	}
	.registration-text:hover {
		color: #ffffff;
		background: #f66d52;
	}
}

@media screen and (max-width: 10000px) {
	.wrapper {
		max-width: 1400px;
	}

	.mobile-login-title {
		display: none;
	}
	.mobile-log {
		display: none;
	}
	.mobile-log:hover {
		display: none;
	}
}

@media screen and (max-width: 1400px) {
	.wrapper {
		display: grid;
		max-width: 990px;
		grid-template-columns: 418px 1fr;
		grid-template-rows: minmax(1400px, auto);
	}
	.left-side {
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding-top: 0;

		.line {
			margin-left: 47px;
		}
	}
	.right-side {
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 0 55px;
	}
	.mobile-login-title {
		display: none;
	}
	.mobile-log {
		display: none;
	}
	.mobile-log:hover {
		display: none;
	}
}
@media screen and (max-width: 990px) {
	.wrapper {
		display: grid;
		max-width: 590px;
		grid-template-columns: 590px;
		grid-template-rows: minmax(335px, auto) minmax(748px, auto) minmax(
				418px,
				auto
			);
	}
	.left-side {
		display: grid;
		padding-top: 231px;

		.login {
			display: none;
		}
		.line {
			display: none;
		}
	}
	.right-side {
		padding: 0 62px;
	}
	.mobile-lefside {
		background-color: #246a73;

		.mobile-login {
			display: flex;
			flex-direction: column;
			align-items: center;
			margin-top: 36px;
			gap: 36px;
		}
		.mobile-login-title {
			color: #ffffff;
			font-size: 24px;
			font-weight: 700;
			line-height: 32.68px;
			display: inline;
		}
		.mobile-log {
			background-color: #ffffff;
			width: 253px;
			border: 2px solid #ffffff;
			border-radius: 2px;
			text-decoration: none;
			color: #246a73;
			font-size: 16px;
			font-weight: 600;
			line-height: 21.79px;
			padding: 15px 97.5px 15px 97.5px;
			transition: 0.7s linear;
			display: inline;
		}
		.mobile-log:hover {
			color: #ffffff;
			background: #f66d52;
			display: inline;
		}

		.mobile-line {
			border: none;
			max-width: 325px;
			border-top: 2px solid #ffffff;
			margin-left: 132px;
			margin-top: 30px;
		}
	}
}

/* .container {
	display: flex;
	background-color: #ffffff;
	max-width: 1400px;
	height: 800px;
	padding: 0;
	margin: 0 auto;
}
.leftside-container {
	width: 465px;
	height: 800px;
	background-color: #246a73;
}
.hedear-logo {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 75.5px;
}
.item-1 {
	color: #ffffff;
	font-size: 40px;
	font-weight: 700;
	line-height: 54.47px;
	padding-left: 29.99px;
}

.LOGIN {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 202.67px;
}
.item-2 {
	color: #ffffff;
	font-size: 24px;
	font-weight: 700;
	line-height: 32.68px;
}
.log {
	background-color: #ffffff;
	width: 253px;
	border: 2px solid #ffffff;
	border-radius: 2px;
	text-decoration: none;
	color: #246a73;
	font-size: 16px;
	font-weight: 600;
	line-height: 21.79px;
	margin-top: 36px;
	padding: 15px 97.5px;
	transition: 0.7s linear; 
}
.log:hover {
	color: #ffffff; 
	background: #f66d52; 
}

.line {
	border: none;
	max-width: 325px;
	border-bottom: 2px solid #ffffff;
	padding-top: 258px;
	margin-left: 70px;
}

.account-registration {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 893px;
	height: 760px;
	margin-top: 20px;
}
.item-3 {
	color: #160f29;
	font-weight: 700;
	font-size: 32px;
	line-height: 43.58px;
	margin-top: 182px;
}

* {
	box-sizing: border-box;
}
form {
	position: relative;
	margin: 0 auto;
}
img[class='icon'] {
	position: absolute;
	cursor: pointer;
	padding: 12px;
}
input[class='nick'] {
	border: 2px solid #160f29;
	border-radius: 2px;
	opacity: 0.5;
	width: 463px;
	height: 57px;
}
input[placeholder='nickname123'] {
	font-size: 18px;
	font-weight: 400;
	line-height: 24.51px;
	padding-left: 73px;
}
input::placeholder {
	color: #160f29;
}
input[class='mail'] {
	border: 2px solid #160f29;
	border-radius: 2px;
	opacity: 0.5;
	width: 463px;
	height: 57px;
}
input[placeholder='example@mail.ru'] {
	font-size: 18px;
	font-weight: 400;
	line-height: 24.51px;
	padding-left: 73px;
}
input::placeholder {
	color: #160f29;
}

img[class='icon2'] {
	position: absolute;
	cursor: pointer;
	padding: 7.07px 12px;
}
button[class='eye'] {
	position: absolute;
	right: 22px;
	padding: 20.5px 0;
	cursor: pointer;
}
input[class='password'] {
	border: 2px solid #160f29;
	border-radius: 2px;
	opacity: 0.5;
	width: 463px;
	height: 57px;
}
input[placeholder='strongPsW2#'] {
	font-size: 18px;
	font-weight: 400;
	line-height: 24.51px;
	padding-left: 73px;
}
input::placeholder {
	color: #160f29;
}
.pole-registr {
	padding-top: 50px;
}
.form2 {
	margin-top: 28px;
}
.form3 {
	margin-top: 28px;
}
.form4 {
	margin-top: 28px;
}

.button-reg {
	background-color: #ffffff;
	border: 2px solid #160f29;
	width: 292px;
	border-radius: 2px;
	text-decoration: none;
	color: #160f29;
	font-size: 20px;
	font-weight: 600;
	line-height: 27.24px;
	padding: 15px 30px;
	margin-top: 50px;
	transition: 0.7s linear; 
}
.button-reg:hover {
	color: #ffffff;
	background: #f66d52; 
} */
